<%= simple_form_for @route do |f| %>
    <%= f.input :area, location: 'Serres' %>
        <div class="form-group">
            <%= f.label :area %>
            <div class="field">
                <%= f.area_select(:area_id, Area.all, :id, :location) %>
            </div>

        </div>
        <%= f.button :submit %>
<% end %>