<!DOCTYPE html>
<html>
  <head>
    <title>HackathonBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <nav class="navbar navbar-inverse navbar-fixed-top bg-inverse", style="margin-bottom: 0px;">
            <div class="container">  
              
                <a class="navbar-brand" href="#">Areas Routes</a>
            </div>
             
            <div class="center jumbotron">  
                   
                <% if @current_user %>
                  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %> 
                <% else %>
                  <p>Welcome back Admin</p>  
                <% end %>  

                <%= yield %>
           </div>
      </nav>   
  </body>
</html>
